/Exam1Study/MyLinkedList/nbproject/private/
/Exam1Study/MyLinkedList/build/
/Exam1Study/Stack/nbproject/private/
/Homework 2/nbproject/private/
/Homework 2/build/
/Midterm2Studying/nbproject/private/
/Midterm2Studying/build/
/Homework-3/nbproject/private/
/Homework-3/build/